@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,900;1,400&display=swap');

// ## RESET & BASE

* {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
}

// ### COLOR

html {
  color-scheme: light;
  --text: #1D0D47;
  --dark: #1D0D47;
  --bg: #FAF7FF;
  --light: #FAF7FF;
  --brand: #32167A;
  --brand-dark: #1D0D47;
  --brand-light: #7D5FC7;
  --link: #334FA3;
  --warning: #E66140;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    --text: #FAF7FF;
    --bg: #110828;
    --link: #94adf8;
  }
}

body {
  color: var(--text);
  background: var(--bg);
}

// ### TYPOGRAPHY

html,
body {
  font-size: 1rem;
  line-height: 1.6;
  font-family: 'Alegreya Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, 'Helvetica Neue', sans-serif;
}

// #### HEADINGS

h1 {
  font-size: clamp(3rem, 10vw, 5rem);
}

h2 {
  font-size: clamp(2rem, 8vw, 3.5rem);
  transform: translateX(-.08em); // Corrects frame alignment issue in font
}

h3 {
  font-size: clamp(1.2rem, 6vw, 2.5rem);
  transform: translateX(-.05em); // Corrects frame alignment issue in font
}

h4 {
  font-size: clamp(1rem, 4vw, 2rem);
}

h5 {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

h6 {
  font-size: 1rem;
}

h2, h4, h5, h6 {
  font-weight: 200;
}

// #### BODY TEXT

p, li, ul {
  font-size: 1.1rem;
  max-width: 80ch;
}

p {
  margin-block-end: 1.6em;
}

li, ul {
  margin-block: .8em;
}

// ### LINKS

a {
  text-decoration: underline;
  transition: 150ms ease-out;
  color: var(--link);
}

// ### BUTTONS

button {
  background: var(--brand);
  color: var(--light);
  padding-inline: 1.5em;
  padding-block: 1em;
  margin-block-end: 1.6em;
  border-radius: 10px;
  border-style: none;
  filter: opacity(85%);
  backdrop-filter: blur(5px);
  transition: 250ms ease-out;
  font-size: 1.2em;
}

button:hover,
button:active {
  filter: opacity(95%) brightness(110%);
}

// ### WARNING DIV

.warning {
  padding-inline: 1em;
  border: 2px solid var(--warning);
  border-radius: .5rem;
  margin-block-end: 1.6em;

  p {
    margin-block: 0.8em;
  }
}

// ## UTILS

.sr-only {
  width: 0;
  height: 0;
  overflow: hidden;
}

// ## POETRY

.pmd {
  --turnover-indent: 1em;
  display: block;
  padding-inline-start: var(--turnover-indent);
  text-indent: calc(var(--turnover-indent) * -1);
  white-space: pre-wrap;
}

// ## PAGE LAYOUT

#__next {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
}

main {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(auto, 80ch) minmax(0, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
  padding-block-start: 7em;
}

section {
  grid-column: 2 / 3;
}

// ## HEADER

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5em;
  background-blend-mode: soft-light;
  backdrop-filter: blur(8px);
  position: fixed;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid var(--text);

  * {
    margin: 0;
  }

  a {
    color: var(--text);
  }

  a:hover, a:active {
    filter: drop-shadow(0 0 7px var(--text));
  }

  --filter: drop-shadow(0 0 15px hsla(0 0% 0% / .65)); // Why?
}

.site-title {
  font-size: 1.2rem;
  line-height: 2rem;
  text-decoration: none;
  filter: var(--filter);
}

// ### MAIN MENU

#main-menu {

  ul {
    font-weight: 200;
    list-style: none;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    gap: 2em;
  }

  li {
    font-size: 1rem;
    line-height: 2rem;
    filter: var(--filter);
  }

  a {
    text-decoration: none;
  }

  .sub-menu {
    padding: 0;
    
    li {
      width: max-content;
      padding-inline: 1em;
    }
  }

}

@media screen and (max-width: 751px) {
  #main-menu {
    display: flex;
    align-items: center;

    ul {
      flex-flow: column nowrap;
    }

    .sub-menu {
      display: flex;
      flex-flow: column nowrap;
      margin-top: 2em;
    }
  }

  .menu-hide {
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .menu-show {
    height: 100vh;
  }
}

#menu-toggle {
  width: 2rem;
  display: flex;
  place-items: center;

  img {
    max-width: 100%;
    @media (prefers-color-scheme: dark) {
      filter: invert(100%);
    }
  }
}

@media screen and (min-width: 750px) {
  #main-menu {
    ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      gap: 2em;
    }
  
    .sub-menu {
      display: none;
      background: var(--bg);
      border-radius: .3em;
      //blend-mode: soft-light;
      //backdrop-filter: blur(8px);
      padding-block: .5em;
    }
  
    .sub-menu__parent:hover .sub-menu {
      display: block;
      position: absolute;
      left: -1em;
    }
  }

  #menu-toggle {
    display: none;
    width: 0;
    height: 0;
  }
}

// ## HOME PAGE

.hero {
  grid-column: 1 / -1;
  min-height: 100vh;
  display: grid;
  place-content: center;

  img {
    z-index: -10;
    filter: saturate(100%);
  }

  h1 {
    filter: drop-shadow(3px 3px 4px black);
    font-weight: 900;
    letter-spacing: .025em;
    font-size: calc(1rem + 6vw);
    line-height: .9em;
    color: white;
  }

  .hero-content {
    margin-inline: max(1rem, 10vw);
    transform: translateY(-5em);
  }

  .hero-buttons {
    display: flex;
    gap: 2em;
    justify-content: end;
  }

  .hero-bg-words {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    filter: opacity(15%);
    overflow: hidden;
    user-select: none;
    z-index: -10;
    // writing-mode: vertical-rl; // Uncomment to make text vertical 
    // text-orientation: mixed;
    
    span {
      display: block;
      color: white;
      font-size: min(6em, 40vw);
      line-height: .65em;
      font-weight: 900;
      white-space: nowrap;
      animation: scroll 60s linear infinite;
    }

    span:nth-of-type(2n) {
      animation-duration: 70s;
      animation-delay: -1s;
    }

    span:nth-of-type(3n) {
      animation-duration: 65s;
    }

    span:nth-of-type(4n) {
      animation-duration: 55s;
    }

    span:nth-of-type(5n) {
      animation-delay: -2s;
    }

  }

  figcaption {
    width: 0;
    height: 0;
    overflow: hidden;
  }

  @keyframes scroll {
    from {transform: translateX(100%)} // Sub translateY to make animation vertical
    to {transform: translateX(-200%)}
  }
  
}

// ## FOOTER

footer { 
  font-weight: 300;
  text-align: center;
  padding: 2rem 1rem 1rem;
  display: grid;
  place-content: center;

  p {
    border-top: 1px solid currentColor;
    padding-block: .5em;
    font-size: .9rem;
  }
}
