// ## HERO FOR HOME PAGE

.hero {
  grid-column: 1 / -1;
  min-height: 100vh;
  display: grid;
  place-content: center;

  .hero-image {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -10;

    img {
      object-fit: cover;
      filter: saturate(150%);
      min-height: 100vh;
    }
  }

  .hero-content {
    margin-inline: max(1rem, 10vw);
    transform: translateY(-25%);

    h1 {
      filter: drop-shadow(3px 3px 4px black);
      font-weight: 900;
      letter-spacing: .025em;
      font-size: calc(1rem + 6vw);
      line-height: .9em;
      color: white;
    }

    .hero-buttons {
      margin-block-start: 2rem;
      display: flex;
      gap: min(2em, 5vw);
      justify-content: end;
    }
  }
}
